.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 30px;
    align-items: center;

}

.auth-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: var(--main-black);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

.underline{
    width: 61px;
    height: 6px;
    color: var(--main-black);
    border-radius: 9px;
}

/* Стили для сообщений об ошибках */
.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 30px;
    text-align: left;
    width: 480px;
}

/* Уменьшаем отступ между полями ввода и ошибками */
.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Уменьшили отступ между полями */
}

/* Уменьшаем высоту контейнера с полем ввода, чтобы ошибка не накладывалась */
.input {

    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 90px; /* Уменьшили высоту */
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 20px;
}

.forgot-password{
    margin-top: 27px;
    color:#797979;
    font-size: 18px;
}

.forgot-password span{
    color: var(--main-black);
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin:60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: var(--main-black);
    border-radius:50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    color: #676767;
    background: #eaeaea;
}