@import './reset.css';


:root {
    /* Main colors */
    --main-black: #333;
    /* Shades */

    /* Main fonts */
    --main-font: 'Cascadia Code', sans-serif;
}

body {
    font-family: var(--main-font), serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

